@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    height: 100vh;
    @apply bg-slate-100;
}

.success-alert{
    @apply bg-emerald-100 border border-green-400 text-green-700 px-4 py-3 rounded relative;
}

.form{
    @apply gap-y-2 py-5 px-2 my-10 mx-4 bg-white;
}

.form__item{
    @apply mt-3 px-2 py-2;
}

.select-container{
    max-height: calc(5lh + 0.25rem + 0.15rem);
    overflow-y: auto;
}

.btn {
    @apply font-bold py-2 px-4 rounded;
}

.btn-blue {
    @apply bg-blue-500 text-white;
}
.btn-blue:hover {
    @apply bg-blue-700;
}

.select, .select-tree {
    border: 1px solid rgb(128, 128, 128);
    width: fit-content;
    overflow: hidden;
    list-style-type: none;
    @apply ml-5 mr-5;
}

.select .group-label {
    background-color: white;
}

.select .option-label {
    background-color: white;
    display: block;
}

.select .hidden-checkbox {
    display: none;
}

.select .hidden-checkbox:checked + .option-label{
    background-color: lightblue;
}

.select-tree .group-children {
    list-style-type: none;
    padding-left: 20px;
}
.select-tree .option-label {
    padding-left: 5px;
}
